<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <div th:each="role : ${allRoles}">
        <label th:for="${role}" th:text="${role.getName()}">Role</label>
        <label>
            <input th:id="${role}" type="radio" th:field="*{roles}" th:value="${role.getId()}"
                   th:checked="${role == user.roles}"/>
        </label>
    </div>
    <br/>
    <input type="submit" value="Update"/>
</form>

<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="<-"/>
</form>

<div style="margin-top: 20px">
    <form action="/logout">
        <button>Logout</button>
    </form>
</div>

</body>
</html>