<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update User</title>
    <style>
        #edit-form {
            width: 400px;
            margin: 50px auto auto;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <form id="edit-form" th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}"
              th:object="${user}">
            <div id="username" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username"
                       th:field="*{username}" th:value="${user.getUsername()}">
            </div>

            <div id="password" class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password"
                       th:field="*{password}" th:value="${user.getPassword()}">
            </div>

            <div id="age" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Age"
                       th:field="*{age}" th:value="${user.getAge()}">
            </div>

            <div id="email" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email"
                       th:field="*{email}" th:value="${user.getEmail()}">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">@email.com</span>
                </div>
            </div>

            <div id="roles" class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02" th:field="*{roles}">
                    <option th:each="role : ${allRoles}"
                            th:text="${role.getName()}"
                            th:value="${role.getId()}"
                            th:checked="${role == user.roles}">One
                    </option>
                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">Roles</label>
                </div>
            </div>

            <button class="btn btn-primary">
                Edit
            </button>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>