<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="Name + ': ' + ${user.getUsername()}">VALUE</p>
<p th:text="Password + ': ' + ${user.getPassword()}">VALUE</p>
<p th:text="Id + ': ' + ${user.getId()}">VALUE</p>
<p th:text="Age + ': ' + ${user.getAge()}">VALUE</p>
<p th:text="Email + ': ' + ${user.getEmail()}">VALUE</p>
<p th:each="role : ${user.getRoles()}" th:text="Roles + ': ' + ${role.getName()}">VALUE</p>

<div style="margin-top: 20px">
    <form action="/logout">
        <button>Logout</button>
    </form>
</div>
</body>
</html>